/* Desktop View */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Nav edits  */
.navbar {
  position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.navbar a {
  text-decoration: none;
  cursor: pointer;
}

.navbar a:hover {
  color: #FF1493;
}

.nav-title h1 {
  display: block;
  font-size: 1.5em;
  font-weight: 400;

}
.navbar ul {
  gap:40px;
}


/* Home */

.Home-control {
  width: auto;
  background-color: #fcf4f438;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  padding: 2em;
}

.carousel {
  margin: auto;
  width: 600px;
  height: 600px;
  position: relative;
}

.Frontdetails {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.Welcome {
  height: 80px;
  margin: 0 auto;
  font-weight: lighter;
  color: #151B54;
  cursor: pointer;
}

.BusinessOP {
  position: relative;
  margin: 0 auto;
  bottom: 30px;
  font-size: 13px;
  font-style: italic;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.BusinessAD {
  position: relative;
  margin: auto;
  width: 200px;
  bottom: 40px;
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
}

img {
  width: 400px;
  height: 500px;
}

.divider {
  position: relative;
  border: 1px solid;
  width: 25%;
  background-color: #F0DED0;
  margin: auto;
  bottom: 40px;
}

/* Footer */
.Form-Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
}

.Form-Container form {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  margin: auto;
  margin-top: 20px;
  background-color: #ef9273;
}

iframe {
  width: 450;
  height: 250;
  border: 0;
}

.map-container {
  height: 400px;
  width: 400px;
}

.FbusinessCR {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-style: italic;
}


.socials {
  display: flex;
  gap: 20px;
  font-size: 1.3em;
}

.socials a {
  text-decoration: none;

}

.socials a:hover {
  color: #FF1493;
}

.FBusinessid {
  font-weight: 400;
  color: rgb(108, 74, 50);
}

.Fbusinessct {
  font-weight: 400;
  color: rgb(108, 74, 50);
}

/* ABout me */
.aboutmeContainer {
  display: flex;
  gap: 40px;
  margin: auto;
  padding: 10vh;
}

.aboutmeparagraph {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
}

.Abouttitle {
  font-weight: 300;
  color: rgb(108, 74, 50);
}

/* Servies */
.Pricing-table {
  display: flex;
  margin: 0 left;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  margin: 200px;
  text-align: left;
}

.Pricing-table li {
  list-style: none;
  font-weight: 300;
  font-size: 20px;
}

.Contactusmessage {
  display: none;
}

.Contactusvisible {
  display: unset;
}

/* footer rights */
.footerrights {
  padding-top: 2%;
  background-color: black;
  text-align: center;
  margin: auto;
  background-color: #f0e6e3;

}

@media screen and (max-width: 600px) {

  /* Nav */
  .nav-items {
    display: none;
  }

  .nav-body {
    font-size: 0.8em;
    justify-content: unsafe;

  }

  /* Home */
  .Form-Container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 40px;
  }

  .Home-control {
    margin: 0 auto;
    position: sticky;
    text-align: center;
  }

  .carousel {
    margin: 0 auto;
    width: 300px;
    height: 500px;
  }

  .carousel-indicators {
    width: 200px;
    font-size: 1em;
    display: none;
    visibility: hidden;
  }

  .Welcome {
    height: auto;
    margin-bottom: 10px;
    font-size: 1.8em;
  }

  .BusinessOP {
    position: static;
    margin-bottom: 10px;
  }

  .BusinessAD {
    position: static;
    margin-bottom: 20px;
    width: auto;
  }

  .divider {
    position: static;
    margin-bottom: 20px;
  }

  /* About Us */
  .aboutmeContainer {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;

  }

  .aboutmeparagraph {
    height: 100%;
    width: 100%;

  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* Services */
  .Pricing-table {
    margin: 0 auto;
    flex-direction: column;
    padding-top: 15%;
  }
}

/* footer */

.businessP {
  position: relative;
  ;
  width: 200px;
}


@media screen and (max-width: 400px) {

  .Welcome {
    font-size: 1.4em;
  }

  .BusinessOP,
  .BusinessAD {
    font-size: 12px;
  }

}