/* Desktop View */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eef2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Nav edits  */
.nav-container {
  display: flex;
  background-color: #f2f2f2;
  font-style: italic;
  height: 70px;
  align-items: center;
  justify-content: space-around;
}

.nav-title h1 {
  display: block;
  font-size: 1.5em;
}
.nav-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  gap: 20px;
}

.Nav-item {
  display: flex;
  font-weight: 400;
  padding: 10px;
  color: black;
}

.hamburger {
display: none;
}

/* Home */

.Home-control {
  width: auto;
  background-color: white;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  margin: auto;
  margin-top: 20px;
}

.carousel {
  margin: auto;
  width: 600px;
  height: 600px;
  position: relative;
}

.Frontdetails {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.Welcome {
  height: 80px;
  margin: 0 auto;
}

.BusinessOP {
  position: relative;
  margin: 0 auto;
  bottom: 30px;
  font-size: 13px;
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

.BusinessAD {
  position: relative;
  margin: auto;
  width: 200px;
  bottom: 40px;
  font-size: 15px;
}

img {
  width: 400px;
  height: 500px;
}

.divider {
  position: relative;
  border: 1px solid;
  width: 25%;
  color: #f2f2f1;
  margin: auto;
  bottom: 40px;
}
/* Footer */
.Form-Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Form-Container form {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  margin: auto;
  margin-top: 20px;
}

iframe {
  width: 450;
  height: 250;
  border: 0;
}

.map-container {
  height: 400px;
  width: 400px;
}

.FbusinessCR {
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-style: italic;
}

/* ABout me */
.aboutmeContainer {
  display: flex;
  gap: 40px;
  margin: auto;
  padding: 10vh;
}
.aboutmeparagraph {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
}
/* Servies */
.Pricing-table {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  margin: 200px;
}

.Pricing-table li {
  list-style: none;
  font-weight: 300;
  font-size: 20px;
}
.Contactusmessage {
  display: none;
}

.Contactusvisible {
  display: unset;
}


@media screen and (max-width: 600px) {
/* Nav */
    .nav-items {
      display: none;
    }

  .nav-body {
    font-size: 0.8em;
    justify-content: unsafe;
  
  }
    /* Home */
  .Form-Container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 40px;
  }

  .carousel {
    margin: 0 auto;
    width: 400px;
    height: 600px;
  }

    /* About Us */
  .aboutmeContainer {
    margin: 0 auto;
    width: 400px;
    flex-wrap: wrap;
    height: 100em;
    justify-content: center;
    gap: 40em;
  }

  .aboutmeparagraph {
    display: unset;
    width: none;
  }
  img {
    display: block;
    width: 300px;
    top: 200px;
  }
/* Services */
  .Pricing-table {
    margin: auto;
    flex-direction: column;
  }
}
