body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEF2F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Nav edits  */
.nav-container {
  display: flex;
  background-color: #F2F2F2;
  font-style: italic;
  height: 70px;
 align-items: center;
 justify-content: space-around;
 
}
.nav-title h1 {
  font-size: 1.5em;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-contact {
  display: flex;
  margin: 0;
}


/* home edits */

.Home-control {
  width: auto;
  background-color: white;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  display:flex;
  margin: auto;
  margin-top: 20px;
  
}


.carousel {
  margin: auto;
  width: 600px;
  height: 600px;
  position: relative;
}

.Frontdetails {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.Welcome {
  height: 80px;
  margin: 0 auto;
}

.BusinessOP {
  position: relative;
margin: 0 auto;
bottom: 30px;
font-size: 13px;
font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

.BusinessAD {
  position: relative;
  margin: auto;
  width: 200px;
  bottom: 40px;
  font-size: 15px;
}

img {
  width: 400px;
  height: 500px;
}

.divider {
  position: relative;
  border: 1px solid;
  width: 25%;
  color:#F2F2F1;
  margin: auto;
  bottom: 40px;

}

.Form-Container {
  display: flex;
  justify-content: space-around;
}


  .Form-Container form {
display: flex;
flex-direction: column;
  }


  .btn {
    display: flex;
    margin: auto;
    
  }


iframe {
  width:450;
    height:250;
    border:0;
}

.map-container {
  height: 400px;
  width: 400px;
  
}

Marker {
  color: red;
  background-color: red;
}